data/brIO/caso_full.csv
data/ministerio_da_saude/2020-10-08-18-40_ms_covid19.csv
data/ministerio_da_saude/2020-10-08-19-15_ms_covid19.csv
data/ministerio_da_saude/2020-10-08-21-00_ms_covid19.csv
data/ministerio_da_saude/last_data_ms_covid19.csv
