data/brIO/caso_full.csv
data/ministerio_da_saude/2021-03-01-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-02-16-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-02-17-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-02-18-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-02-19-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-02-20-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-02-21-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-02-22-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-02-23-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-02-24-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-02-25-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-02-26-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-02-27-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-02-28-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-03-02-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-03-03-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-03-04-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-03-05-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-03-06-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-03-07-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-03-08-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-03-09-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-03-10-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-03-11-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-03-12-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-03-13-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-03-14-19-19_ms_covid19.csv
data/ministerio_da_saude/last_data_ms_covid19.csv
