data/brIO/caso_full.csv
data/ministerio_da_saude/2021-05-12-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-05-14-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-05-15-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-05-16-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-05-17-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-05-18-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-05-19-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-05-20-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-05-21-19-19_ms_covid19.csv
data/ministerio_da_saude/2021-05-22-19-19_ms_covid19.csv
data/ministerio_da_saude/last_data_ms_covid19.csv
